# ====== Log settings ==================== #
LOGFILE = 'migration.log'
STDOUT = False  # print to STDOUT
DEBUG = True  # write debug log
DEBUG_LOG = 'debug.log'
# ====== Device42 upload settings ========= #
D42_USER = 'device42 user'
D42_PWD = 'device42 password'
D42_URL = 'https:// device42 server IP address'
# ====== Ansible settings ========= #
GROUP_BY = 'tag' # tag, buildings, customer, service_level
EMPTY_TO_NONE = True # move empty groups to group 'None' otherwise not save