# ====== Device42 upload settings ========= #
D42_USER = 'admin'
D42_PWD = 'adm!nd42'
D42_URL = 'https://10.10.10.10'
# ====== DOQL settings ========= #
GROUP_BY_QUERY = 'select name, service_level from view_device_v1'
GROUP_BY_FIELD = 'service_level'
GROUP_BY_REFERENCE_FIELD = 'name'
SPLIT_GROUP_BY_COMMA = False
